<div class="div-container">
  <ul class="well nav nav-pills nav-stacked">
    <% ::ApiMockServer::Endpoint.asc(:pattern).each do |endpoint| %>
      <li class="<%= endpoint == current ? 'active' : '' %>">
      <a href="/admin/<%= endpoint.id %>">
        <div class="label-api label-api-full">
          <span class="label label-danger"><%= endpoint.verb.upcase %></span>
          <strong><%= endpoint.pattern %></strong>
          <% if endpoint.active %>
            <span class='label label-success'>启用中</span>
          <% else %>
            <span class='label label-warning'>未启用</span>
          <% end %>
        </div>
      </a>
      </li>
    <% end %>
  </ul>
  <a href="/admin/new" class='btn btn-info col-lg-3 text-center'>创建新 API</a>
</div>
