<div class="div-container">
  <ul class="well nav nav-pills nav-stacked">
    <% ::ApiMockServer::Endpoint.each do |endpoint| %>
      <li class="<%= endpoint == current ? 'active' : '' %>">
      <a href="/admin/<%= endpoint.id %>">
        <div class="label-api label-api-full">
          <span class="label label-danger"><%= endpoint.method.upcase %></span>
          <strong><%= endpoint.pattern %></strong>
        </div>
      </a>
      </li>
    <% end %>
  </ul>
  <a href="/admin/new" class='btn btn-info col-lg-3 text-center'>创建新 API</a>
</div>
