<div id="main-container" class="row">
  <div id="list-api-div" class="col-md-5">
    <%= partial :api_list, locals: { current: @route } %>
  </div>

  <div id="create-api" class="col-md-7">
    <%= partial :form, locals: { from: 'edit' } %>
  </div>
</div>
