<!DOCTYPE html>
<html>
<head>
  <title>API Mock Server</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/api-mock.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class='navbar-header'>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">API Mock Server</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper" class="container">
    <%= yield %>
  </div>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
