body {
  padding-top: 60px;
}

pre.prettyprint {
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
  color: #65B042;
}
